[submodule "flask_server/submodules/MEDimage"]
	path = flask_server/submodules/MEDimage
	url = git@github.com:MahdiAll99/MEDimage.git
	branch = dev_lab

[submodule "flask_server/submodules/MEDprofiles"]
	path = flask_server/submodules/MEDprofiles
	url = git@github.com:MEDomics-UdeS/MEDprofiles.git
	branch = fusion_MEDomicsLab

[submodule "renderer/public/pythonCode/submodules/MEDprofiles"]
	path = renderer/public/pythonCode/submodules/MEDprofiles
	url = git@github.com:MEDomics-UdeS/MEDprofiles.git
	branch = fusion_MEDomicsLab

[submodule "renderer/public/pythonCode/submodules/MEDimage"]
	path = renderer/public/pythonCode/submodules/MEDimage
	url = git@github.com:MahdiAll99/MEDimage.git
	branch = dev_lab

