/* global to EvaluationPage */

.EvaluationPage .p-tag .p-tag-icon {
  display: contents;
  font-size: 1rem;
}
/* Config Page --------------------------------------------------------------------------------------------------------------------*/
.config-page .p-card {
  box-shadow: var(--med-shadow);
  box-shadow:
    4px 4px 5px -1px rgb(0 0 0 / 30%),
    -1px 1px 1px 0 rgb(0 0 0 / 7%),
    0px -1px 3px 2px rgb(0 0 0 / 12%);
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  min-width: 30rem;
  background-color: rgba(255, 255, 255, 0.144);
}

.config-page .p-card:hover {
  background-color: rgba(232, 239, 255, 0.322);
  box-shadow:
    4px 4px 5px -1px rgb(0 0 0 / 30%),
    -1px 1px 1px 0 rgb(0 0 0 / 7%),
    0px -1px 3px 2px rgb(0 0 0 / 12%);
}
.config-page .p-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.config-page .input-hov {
  width: 20rem;
  margin: 0.5rem;
}
.config-page .p-tag {
  height: 2rem;
  width: 2rem;
  position: absolute;
  translate: -100% 40%;
}

/* Evaluation content -------------------------------------------------------------------------------------------------------------------- */
.evaluation-content {
  height: 100%;
}
.evaluation-content .evaluation-header-parent {
  overflow-x: auto !important;
  height: 6rem;
}

/* styling the scrollbar */
.evaluation-content .evaluation-header-parent::-webkit-scrollbar {
  background-color: #00000000;
  height: 0.75rem;
}

.evaluation-content .evaluation-header-parent::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background-color: #0044ff0e;
}

.evaluation-content .evaluation-header-parent::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  -webkit-box-shadow: outset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0044ff34;
}

.evaluation-content .evaluation-header-parent::-webkit-scrollbar-thumb:hover {
  background-color: #0044ffb7;
}

.evaluation-content .evaluation-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 930px;
}

.evaluation-content .evaluation-header > div {
  margin: 1rem 0.5rem;
}

.evaluation-content .evaluation-header > div .p-tag {
  height: 2rem;
  width: 2rem;
  position: absolute;
  translate: -60% -50%;
  z-index: 3;
}

.evaluation-content .evaluation-header svg {
  height: 4rem;
  margin: 0.25rem 0rem;
}

.evaluation-content .evaluation-header .p-button {
  height: 58px;
  margin: 0.25rem 0.25rem;
}

.evaluation-content .evaluation-header .input-hov {
  height: 58px;
  margin: 0.25rem 0rem;
}

.btn-show-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 1rem;
  border: none;
}

.btn-show-header.p-button:focus {
  outline: none;
  box-shadow: none;
}

.btn-show-header.p-button:enabled:hover {
  background-color: transparent;
}

.btn-show-header i {
  color: black;
  transition: all 0.5s ease-in;
}

.btn-show-header hr {
  color: rgba(65, 100, 255, 0.507);
  transition: all 0.3s ease-in-out;
  height: 0.1rem;
  width: 100%;
}

.btn-show-header.opened i {
  transform: rotate(180deg);
}
.eval-body {
  display: flex;
  flex-direction: column;
}
.evaluation-content .eval-body-content {
  flex-grow: 1;
  padding: 0.25rem;
}
.p-tabview {
  margin: 5px;
}

.evaluation-content .eval-body-content .p-tabview-nav-content {
  padding: 0.25rem 0.25rem 0rem 0.25rem;
}

.evaluation-content .eval-body-content .p-tabview-ink-bar {
  margin-left: 0.25rem;
  margin-top: 0.25rem;
}

.evaluation-content .btn-add-eval.p-button.p-button-success {
  height: 100%;
  background-color: #25ff3b26;
  border-radius: 6px 6px 0px 0px;
}

.evaluation-content .btn-add-eval.p-button.p-button-success:hover {
  background-color: #25ff3b26;
  box-shadow: 0px 0px 4px 1px #00600a42;
}

.evaluation-content .btn-add-eval.p-button.p-button-success:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.2rem #c7d2fe;
  border-radius: 6px 6px 0px 0px;
}
