.results-Panel {
  height: 100%;
}

.results-Panel > .card {
  height: 100%;
  border-radius: 0;
}

.results-Panel .p-tabview-nav .p-tabview-title {
  padding-right: 0.2rem;
}

.p-scrollpanel-content {
  padding: 0.25rem;
  overflow-x: hidden;
}

.p-scrollpanel-wrapper {
  padding-right: 1.2rem;
}

.p-scrollpanel .p-scrollpanel-bar {
  background-color: #0077ff;
  width: 1rem;
  /* TODO: figure out how to use custom style. For now, opacity at 0 */
  opacity: 0;
}

.col-group-text-center div {
  text-align: center;
  justify-content: center;
}

.p-tabview .p-tabview-panels {
  padding: 0.25rem 0rem 0rem 0rem;
  height: -webkit-fill-available;
}

.panel-group {
  padding-left: 0.25rem;
  padding-right: 1.5rem;
}

.closeBtn-resultsPane {
  position: absolute;
  top: 7px;
  right: 10px;
  padding: 0px;
}

.data-param-results-accordion .p-accordion-header .p-accordion-header-link {
  padding: 0.5rem 0.5rem;
}

.data-param-results-accordion .p-accordion-content {
  padding: 0.5rem 0.5rem;
}

.pipeline-results-accordion {
  padding: 0.25rem;
}
.pipeline-results-accordion .p-accordion-header-text .p-button {
  max-width: fit-content;
  min-width: fit-content;
}

.pipeline-results-accordion .p-accordion-header .p-accordion-header-link .p-accordion-header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pipeline-results-accordion .p-accordion-header .p-accordion-header-link {
  padding: 0.3rem 0.3rem;
}

.pipeline-results-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.pipeline-results-accordion .p-accordion-content {
  padding: 0.5rem 0.5rem;
  border: none;
}

.results-Panel .card-body {
  padding: 0;
  padding-top: 0.2rem;
  overflow-y: auto;
}

.results-Panel::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.results-Panel::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}

.results-Panel::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}

.btn-show-results {
  padding: 0.4rem;
  cursor: pointer;
  z-index: 10;
  /* background-color: #6366f1 !important; */
  transition: all 0.15s ease-in-out !important;
  transition:
    border-color 0.15s 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
  border-color: #338a0088 !important;
  background-color: #338a0052 !important;
  /* color: #ffffff !important; */
  width: 8rem !important;
  box-shadow: inset 0px 0 5px 1px #00000033;
}

.btn-show-results:hover {
  color: white !important;
  border-color: #338a00e7 !important;
  background-color: #338a00b2 !important;
  box-shadow: none;
}

.btn-show-results:focus {
  box-shadow:
    0 0 0 2px #ffffff,
    0 0 0 4px #bff8b1,
    0 1px 2px 0 rgb(0 0 0);
}

.btn-show-results span {
  color: white !important;
}

.p-highlight.btn-show-results {
  background-color: rgba(99, 101, 241, 0.3) !important;
  border-color: rgba(99, 101, 241, 0.5) !important;
  width: 11rem !important;
}

.p-highlight.btn-show-results:focus {
  box-shadow:
    0 0 0 2px #ffffff,
    0 0 0 4px #c7d2fe,
    0 1px 2px 0 rgb(0 0 0);
}

.p-highlight.btn-show-results:hover {
  background-color: rgba(99, 102, 241, 1) !important;
  border-color: rgba(99, 102, 241, 1) !important;
}

.results-header {
  display: flex;
  flex-direction: row;
}

.results-header label {
  padding-left: 0.5rem;
}

.pipeline-results-button .checked {
  font-weight: 700;
}

.pipeline-results-button .unchecked {
  font-weight: 400;
}

.results-select-button {
  flex-grow: 1;
}

.flex-grid-gap-1rem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.results-Panel .p-image-preview-indicator {
  border-radius: 0.5rem;
}

.list-model-download-container {
  display: flex;
  flex-direction: column;
}
.list-model-download-container .link {
  display: flex;
  cursor: copy;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
}
.list-model-download-container .link p {
  display: none;
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 0;
  margin-left: 1rem;
}

.list-model-download-container .link p::-webkit-scrollbar {
  display: none;
}

.list-model-download-container .link:hover p {
  display: block;
}

.list-model-download-container .link:hover {
  color: #0077ff;
  background-color: rgba(0, 0, 0, 0.108);
}
.list-model-download-container .link .text {
  margin-bottom: 0;
}
