:root {
  --hover-background: #2c2c2c1f;
  --hover-color: #000000;
  --hover-shadow: 0 0 0.3rem 0 #2c2c2c1f;
  --active-background: #0000007a;
  --active-color: #ffffff;
  --active-shadow: 0 0 0.3rem 0 #404040;
}

.rstm-tree-item-group {
  border-top: none;
}

.rstm-tree-item {
  padding: 0.25rem 0.5rem;
  border-bottom: none;
  height: 2.5rem;
  display: flex;
  align-items: center;
  margin: 0.25rem 0rem;
}

.rstm-tree-item:hover {
  background-color: var(--hover-background);
  color: var(--hover-color);
  box-shadow: var(--hover-shadow);
}

.rstm-tree-item--focused {
  box-shadow: var(--active-shadow);
  z-index: 999;
}

.rstm-tree-item:focus {
  box-shadow: var(--active-shadow);
  z-index: 999;
  border: 4px solid #000000 !important;
}

.rstm-tree-item--active {
  color: var(--active-color);
  background: var(--active-background);
}

.rstm-tree-item--active:hover {
  color: var(--active-color) !important;
  background: var(--active-background) !important;
  box-shadow: var(--active-shadow) !important;
}
