.results-Panel {
  height: 100%;
}

.results-Panel .card {
  height: 100%;
}

.results-Panel .p-tabview-nav .p-tabview-title {
  padding-right: 0.2rem;
}

.p-scrollpanel-content {
  padding: 0.25rem;
  overflow-x: hidden;
}

.p-scrollpanel-wrapper {
  padding-right: 1.2rem;
}

.p-scrollpanel .p-scrollpanel-bar {
  background-color: #0077ff;
  width: 1rem;
  /* TODO: figure out how to use custom style. For now, opacity at 0 */
  opacity: 0;
}

/* .p-scrollpanel::-webkit-scrollbar {
  display: none;
} */

.col-group-text-center div {
  text-align: center;
  justify-content: center;
}

.p-tabview .p-tabview-panels {
  padding: 0.25rem 0rem 0rem 0rem;
  height: -webkit-fill-available;
}

.panel-group {
  padding-left: 0.25rem;
  padding-right: 1.5rem;
}

.closeBtn-resultsPane {
  position: absolute;
  top: 7px;
  right: 10px;
  padding: 0px;
}

.data-param-results-accordion .p-accordion-header .p-accordion-header-link {
  padding: 0.5rem 0.5rem;
}

.data-param-results-accordion .p-accordion-content {
  padding: 0.5rem 0.5rem;
}

.pipeline-results-accordion {
  padding: 0.25rem;
}

.pipeline-results-accordion .p-accordion-header .p-accordion-header-link {
  padding: 0.2rem 0.5rem;
}

.pipeline-results-accordion
  .p-accordion-header
  .p-accordion-header-link
  .p-accordion-toggle-icon {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.pipeline-results-accordion .p-accordion-content {
  padding: 0.5rem 0.5rem;
  border: none;
}

.results-Panel .card-body {
  padding: 0;
  padding-top: 0.2rem;
  overflow-y: scroll;
}

.results-Panel::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.results-Panel::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}

.results-Panel::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}

.btn-bottom-show-results {
  padding: 0.4rem;
  cursor: pointer;
  z-index: 10;
}

.results-header {
  display: flex;
  flex-direction: row;
}

.results-header label {
  padding-left: 0.5rem;
}

.pipeline-results-button .checked {
  font-weight: 700;
}

.pipeline-results-button .unchecked {
  font-weight: 400;
}
