/* Styles used for the extraction tab of MEDomicsLab */

/* Documentation link styles */
.docLink {
  display: "flex";
  align-items: "center";
  margin-top: "10px";
}

.docLink-image {
  width: "20px";
  height: "20px";
  margin-right: "10px";
}

.inputFile {
  width: 100%;
  display: flexbox;
  position: relative;
}

.upload-button-col {
  width: fit-content;
  max-width: 100px;
}

.upload-button {
  width: fit-content;
  max-width: 100px;
  color: black;
}

.upload-button:disabled {
  opacity: 0.5;
  color: black;
}

.viewButton {
  width: 100%;
  font-size: large;
  font-weight: bold;
  color: black;
  margin-top: 10px;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.viewButton:disabled {
  opacity: 0.5;
  color: black;
}

.viewImage {
  width: 30px;
  height: 30px;
  margin-right: 8px !important;
}

.results-button {
  width: 100%;
  font-size: large;
  color: black;
  margin-top: 10px;
  background-color: white;
  border: black 1px solid;
  width: fit-content;
  height: fit-content;
  margin-right: 10px;
}

.results-button:hover {
  background-color: rgb(194, 194, 194);
  color: black;
  border: black 1px solid;
}

.cute-box {
  margin-top: 10px;
  background-color: #0d6dfd70;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form-group-box {
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 2px;
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

.warning-message {
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0 2px 5px rgba(207, 11, 11, 0.226);
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

.standard-form {
  width: 350px;
}

.features-node-body {
  font-size: small;
}

.small-results-button {
  font-size: smaller;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 10px;
  padding: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-bottom: 0px;
  padding-top: 0px;
  box-sizing: border-box;
  border: 2px solid #1a4625;
}

.small-results-button:hover {
  background-color: rgba(
    26,
    70,
    37,
    0.705
  ); /* Change to a more transparent color on hover */
}

.tree-menu-container {
  max-width: 500px;
}
              
.extraction-progress label {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.74);
} 