.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-column-end-margin-top-30 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30px;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-bottom_15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.vertical-divider {
  width: 2px;
  margin: 6px 0;
  background: lightgray;
}

.margin-top-30-text-center-width-100 {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}