.inputFile{
    width: 100%;
    display: flexbox;
    position: relative;
}

.upload-button-col {
    width: fit-content;
    max-width: 100px;
}

.viewButton{
    width: 100%;
    font-size: large;
    color: black;
    margin-top: 10px;
}

.viewButton:disabled {
    opacity: 0.5;
  }

.viewImage {
    width: 30px;
    height: 30px;
    margin-right: 8px !important;
}

.results-button {
    width: 100%;
    font-size: large;
    color: black;
    margin-top: 10px;
    background-color: white;
    border: black 1px solid;
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
}

.results-button:hover {
    background-color: rgb(194, 194, 194);
    color: black;
    border: black 1px solid;
}