.card-paresults {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  height: 100%;
  width: 100%; /* Ensure the card takes up full width of its container */
  padding: 16px;
}

.container-paresults {
  max-width: 100%;
  margin: 0 auto;
}
.default-text-color-paresults {
  color: #5a5555;
}

.row-paresults {
  margin-bottom: 1rem;
}

.fullscreen-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.fullscreen-treeWorkflow {
  width: 100%;
  height: calc(100vh - 160px); /* Adjust height as needed */
}

.fullscreen-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}

.panode {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: relative;
  transition: all 0.3s ease;
  background: #f1f0f0;
}

.panode-body {
  background: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.panode-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.panode-header h5 {
  margin: 0;
  font-size: 1.7rem;
}

.panode-value {
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 1.7rem;
}
.icon-pacontainer {
  position: absolute;
  top: 0px;
  right: -15px; /* Adjust this value based on the size of the icon */
  transform: translateY(-50%);
  z-index: 10;
}

/* Icon styles */
.custom-paicon-success {
  font-size: 3rem;
  color: #00cc00; /* Success icon color */
}

.custom-paicon-fail {
  font-size: 3rem;
  color: #cc0000; /* Failure icon color */
}
.panode-value-end {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.7rem;
}

/* Additional Classes */
.palost-node {
  display: none;
}

.paselected-node {
  transform: scale(4); /* Increase scaling factor */
  background: #80cbc4;
}

.paselected-node .node-header h5,
.paselected-node .node-value,
.paselected-node .node-value-end {
  font-size: 3rem;
}

.panode-threshold,
.with-icon-successpanode-threshold,
.with-icon-successpanode-threshold {
  transform: scale(2);
  background: rgb(166, 241, 158);
}

.panode-lost {
  display: none;
}
