.card-paresults {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  height: 100%;
  padding: 16px;
}

.container-paresults {
  max-width: 100%;
  margin: 0 auto;
}
.default-text-color-paresults {
  color: #5a5555;
}

.row-paresults {
  margin-bottom: 1rem;
}

.fullscreen-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.fullscreen-treeWorkflow {
  width: 100%;
  height: calc(100vh - 160px); /* Adjust height as needed */
}

.fullscreen-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}
