.card-paresults {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  height: 100%;
  width: 100%; /* Ensure the card takes up full width of its container */
  padding: 16px;
}

.legend-items {
  display: flex;
  flex-direction: column; /* Display items horizontally */
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  margin-bottom: 5px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 15px; /* Adjust margin between items */
}

.threshold-circle {
  width: 20px;
  margin-right: 5px; /* Adjust margin between circle and description */
}

.threshold-description {
  font-size: 12px;
  font-family: "Arial", sans-serif; /* Example font family */
  font-weight: bold; /* Example font weight */
  color: #3f3f3f; /* Example color */
  text-transform: uppercase; /* Example text transformation */
  letter-spacing: 0.5px; /* Example letter spacing */
  margin-left: -180%; /* Adjust as needed to position to the left of the threshold-circle */

  transform: translateY(-50%);

  white-space: nowrap; /* Ensures text doesn't wrap */
}

.container-paresults {
  max-width: 100%;
  margin: 0 auto;
}
.default-text-color-paresults {
  color: #5a5555;
}

.row-paresults {
  margin-bottom: 1rem;
}

.fullscreen-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.fullscreen-treeWorkflow {
  width: 100%;
  height: calc(100vh - 160px); /* Adjust height as needed */
}

.fullscreen-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}

.panode {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: relative;
  transition: all 0.3s ease;
  background: #f1f0f0;
}

.panode-body {
  background: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.panode-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.panode-header h5 {
  margin: 0;
  font-size: 1.7rem;
}

.panode-value {
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 1.7rem;
}
.icon-pacontainer {
  position: absolute;
  top: 0px;
  right: -15px; /* Adjust this value based on the size of the icon */
  transform: translateY(-50%);
  z-index: 10;
}

/* Icon styles */
.custom-paicon-success {
  font-size: 3rem;
  color: #00cc00; /* Success icon color */
}

.custom-paicon-fail {
  font-size: 3rem;
  color: #cc0000; /* Failure icon color */
}
.panode-value-end {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.7rem;
}

/* Additional Classes */
.palost-node {
  display: none;
}

.paselected-node {
  transform: scale(4); /* Increase scaling factor */
  background: #80cbc4;
}

.paselected-node .node-header h5,
.paselected-node .node-value,
.paselected-node .node-value-end {
  font-size: 3rem;
}

.panode-threshold,
.with-icon-successpanode-threshold,
.with-icon-successpanode-threshold {
  background: rgb(123, 188, 115);
}

.panode-moderatethreshold,
.with-icon-successpanode-moderatethreshold,
.with-icon-successpanode-moderatethreshold {
  background: rgb(248, 224, 120);
}

.panode-warningthreshold,
.with-icon-successpanode-warningthreshold,
.with-icon-successpanode-warningthreshold {
  background: rgb(242, 159, 42);
}

.panode-criticalthreshold,
.with-icon-successpanode-criticalthreshold,
.with-icon-successpanode-criticalthreshold {
  background: rgb(255, 81, 0);
}

.panode-lost-dr {
  background: rgba(255, 0, 0, 0.5);
  opacity: 90%;
  transform: scale(1.5);
  z-index: 1;
}

.panode-lost-dr2 {
  background: rgba(138, 138, 138, 0.6);
  opacity: 90%;
  transform: scale(1.5);
  z-index: 1;
}

.panode-lost {
  opacity: 40%;
  z-index: -1;

  background: rgba(255, 0, 0, 0.5);
}

.panode-notimportant {
  opacity: 30%;
}
.panode-revert {
  opacity: 40%;
  transform: scale(1);
}
.panode-maxdepth {
  display: none;
}
