/* TODO : Add custom class before @NicoLongfield */
.p-listbox-item {
  padding: 0.25rem !important;
  margin-right: 0.5rem;
  align-self: center;
}

.p-listbox-item.p-highlight {
  color: black !important;
  background-color: #8ac4ff85 !important;
  outline: 1px solid var(--bs-blue) !important;
  border-radius: 5px !important;
}

.p-listbox-item:hover {
  background-color: #8ac4ff31 !important;
}

.p-listbox {
  border: solid 1px #8ac4ffdc;
  border-radius: 5px;
  background-color: #414e6426;
  padding: 0.1rem !important;
}

.p-listbox-item:focus {
  box-shadow: none;
}

.p-listbox-list {
  border: none;
  background-color: transparent;
  padding: 0.1rem !important;
}

.p-tabview-nav-link {
  padding: 1rem !important;
  align-self: center;
}

.tab-content {
  display: block !important;
  height: 60%;
  flex-grow: 10 !important;
  flex-direction: column !important;
}

.p-scrollpanel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.p-datatable {
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
  height: 100%;
}

.mergeToolMultiSelect .padding8px > .p-dropdown-label {
  padding: 8px;
}

.mergeToolMultiSelect .padding8px .p-multiselect-label-container {
  padding: 8px;
}

/* MULTISELECT GLOBAL */
.p-multiselect-label {
  display: flex;
  align-items: center;
  align-content: center;
}

.mergeToolMultiSelect .p-dropdown-item {
  padding: 0.25rem 0.5rem;
}

.mergeToolMultiSelect .p-dropdown-items {
  padding: 0.25rem 0.5rem;
}

.mergeToolMultiSelect .p-dropdown-header {
  padding: 0rem;
}

.mergeToolMultiSelect .p-dropdown-filter-container {
  padding: 0.5rem 0.5rem;
}

.mergeToolMultiSelect .p-dropdown-filter {
  padding: 0.25rem 0.25rem;
}

.mergeToolMultiSelect .p-multiselect-item {
  padding: 0rem 0rem;
}

.mergeToolMultiSelect .p-multiselect-items {
  padding: 0.25rem 0.1rem;
}

.mergeToolMultiSelect .p-multiselect-header {
  padding: 0rem 0.5rem 0rem 0rem;
  padding-left: 0.5rem;
}

.mergeToolMultiSelect .p-multiselect-filter-container {
  padding: 0.5rem 0.5rem;
  margin-left: 0rem;
}

.mergeToolMultiSelect .p-multiselect-filter {
  padding: 0.25rem 0.25rem;
}

.mergeToolMultiSelect .p-multiselect-token {
  padding: 0.15rem 0.25rem !important;
}

.mergeToolMultiSelect .p-multiselect-token-icon {
  margin-left: 0.15rem !important;
}

.mergeToolMultiSelect .p-multiselect-token-label {
  /*  margin-left: 0.15rem; */

  font-size: smaller;
}

.mergeToolMultiSelect .p-multiselect-label-container {
  /* min-height: 2.5rem;
  max-height: 2.5rem;
  align-items: center; */
  align-content: center;
  /* padding: 8px; */
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.mergeToolMultiSelect .p-multiselect-label {
  padding: 0.375rem 0.75rem;
  /* height:; */
  /* align-self: center; */
}

.mergeToolMultiSelect .p-placeholder {
  padding: 0.375rem 0.75rem;
  /* height:; */
  /* align-self: center; */
}

.mergeToolMultiSelect .p-multiselect {
  height: 2.5rem;
}

.mergeToolMultiSelect .divider {
  margin: 0.5rem 0rem;
}

.mergeToolMultiSelect .p-component {
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
}

.mergeToolMultiSelect h6 {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-align: end !important;
}

.mergeToolMultiSelect .p-dropdown {
  width: 100%;
}

.mergeToolMultiSelect .p-float-label > label {
  width: 100%;
  /* top: -0.25rem !important; */
}
.mergeToolMultiSelect .p-float-label {
  width: 100%;
  margin-top: 0.75rem;
  /* top: -0.25rem !important; */
}

.mergeToolMultiSelect .p-float-label input:focus ~ label,
.p-float-label input:-webkit-autofill ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label,
.p-float-label .p-tooltip-target-wrapper ~ label {
  top: -0.65rem;
  font-size: 16px;
  color: #495057;
}

.p-input-group.dataset-name .p-inputtext {
  padding: 0.5rem !important;
  border-radius: 6px 0px 0px 6px !important;
}

.p-input-group.dataset-name .p-dropdown-label {
  padding: 0rem !important;
}

.p-input-group.dataset-name .p-inputgroup-addon {
  padding: 0rem !important;
  border-left: none !important;
  border-top: none !important;
  border-bottom: none !important;
}

.p-input-group.dataset-name .p-dropdown-label {
  padding: 0rem !important;
}

.p-input-group.dataset-name .p-dropdown {
  height: 100% !important;
  align-items: center !important;
  align-content: center !important;
  background-color: transparent !important;
  /* border-color: transparent !important; */
  border-start-start-radius: 0px !important;
  border-end-start-radius: 0px !important;
  border-left: none !important;
}

.dataset-name .p-dropdown-item {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  margin: 0.1rem !important;
}
.dataset-name .p-dropdown-items {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

.dataset-name .p-dropdown-trigger {
  width: 1.5rem;
}

.progressBar-merge {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.progressBar-merge .progress {
  width: 100%;

  align-items: center;
  align-content: center;
  justify-content: center;
}

.progressBar-merge label {
  cursor: progress;
  background-color: #00000040;
  color: #5050509c;
  padding: 0rem 0.25rem 0rem 0.25rem;
  font-weight: 700;
  border-radius: 0.4rem 0.4rem 0rem 0rem;
}

.groupingTool .p-dropdown-item {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  margin: 0.1rem !important;
}
.groupingTool .p-dropdown-items {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

.groupingTool .p-dropdown-trigger {
  width: 1.5rem;
}

.groupingTool .p-tree {
  padding: 0%;
}

.groupingTool .p-treeselect-header {
  padding: 0.5rem;
  background-color: #00000036;
}

.groupingTool .p-treeselect-filter {
  padding: 0.5rem;
}

.groupingTool .toggle-font-color-button {
  padding: 0rem;
  width: fit-content;
}

.groupingTool .toggle-font-color-button[aria-pressed="false"] {
  background-color: #000000ad;
}

.groupingTool .toggle-font-color-button[aria-pressed="true"] {
  background-color: #e9e9e9d0;
}

.groupingTool .toggle-font-color-button:hover[aria-pressed="true"] {
  background-color: #0038b175 !important;
}

.groupingTool .toggle-font-color-button:hover[aria-pressed="false"] {
  background-color: #2760da75 !important;
}

.groupingToolTree {
  /* display: flex;
  flex-direction: row;
  flex-grow: 1; */
  /* height: 100%; */
}

.groupingToolTree .p-tree {
  padding: 0%;
}
.groupingToolTree .p-treenode-content {
  padding: 0% !important;
}
.groupingToolTree .p-treenode-children {
  padding: 0%;
  padding-left: 1rem;
}

.groupingTool .p-chips .p-inputtext {
  min-height: 2.5rem;
  padding: 0% !important;
  padding: 0.25rem !important;
  width: 100% !important;
}

.groupingTool .p-chips .p-chips-input-token {
  padding: 0% !important;
  padding: 0.25rem !important;
  width: 100% !important;
}

.groupingTool .p-chips {
  padding: 0% !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
}

.groupingToolTree .flex.align-items-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  /* justify-content: safe center; */
}

.groupingToolTree .flex.align-items-center .p-tag {
  margin-inline: 0.25rem;

  /* justify-content: safe center; */
}

.groupingTool.mergeToolMultiSelect .p-component .p-colorpicker-preview {
  width: 1.5rem;
  height: 1.5rem;
}

.groupingTool .listItem {
  display: flex;
  flex-direction: row;

  /* justify-content: flex-end; */
  padding: 0.25rem;
  /* text-justify: ; */
}

.groupingTool .listItem .icon-button-div {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

.small-token .p-chips-token {
  margin-inline: 0rem !important;
  margin-top: 0.15rem;
  padding: 0.15rem 0.25rem !important;
}

.small-token .p-chips-token-icon {
  margin-left: 0.15rem !important;
}

.small-token .p-chips-token-label {
  /*  margin-left: 0.15rem; */

  font-size: smaller;
}

.small-token .p-multiselect-token-label {
  /*  margin-left: 0.15rem; */

  font-size: smaller;
}

.small-token .p-treeselect-token {
  margin-inline: 0.15rem !important;

  padding: 0.15rem 0.25rem !important;
}

.small-token .p-treeselect-token-icon {
  margin-left: 0.15rem !important;
}

.small-token .p-treeselect-token-label {
  /*  margin-left: 0.15rem; */

  font-size: smaller;
}

.small-token.p-treeselect {
  height: 2.5rem;
  width: 100% !important;
  margin-right: 0.5rem !important;
}

.token-bg-transparent .p-chips-token {
  background-color: transparent !important;
  padding: 0% !important;
}

.custom-token {
  padding: 0.25rem 0.35rem !important;
  margin: 0rem !important;
  margin-inline: 0.15rem !important;
  border-radius: 1rem;
  font-size: 0.75rem !important;
}

.custom-token .p-chip-text {
  padding: 0.05rem 0.35rem !important;
  margin: 0rem !important;
  font-size: 0.75rem;
  font-weight: 600;
}

.custom-token .p-icon {
  margin: 0rem !important;
}

.small-token .p-multiselect-label {
  display: block;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-slider.p-slider {
  background: #c0c0c0 !important;
  height: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: inset 1px 2px 5px 2px #00000046;
}

.custom-slider .p-slider-range {
  border-radius: 0.5rem;
  background: #08458a !important;
  box-shadow: inset 1px 2px 5px 2px #00000046;
}

.custom-slider .p-slider-handle {
  background: #08458a !important;
  border: #4384cec7 2px solid;
}

.medcohort-drop .p-dropdown-trigger {
  width: 1.5rem;
}

.medcohort-drop .p-multiselect-trigger {
  width: 1.5rem;
}

.bg-invalid {
  background-color: #f8091d56 !important;
}

.overlay-dropdown .p-dropdown-label {
  align-items: center;
  align-content: center;
  top: -0.2rem;
  position: relative;
}
