/* TODO : Add custom class before @NicoLongfield */
.p-listbox-item {
  padding: 0.25rem !important;
  margin-right: 0.5rem;
  align-self: center;
}

.p-listbox-item.p-highlight {
  color: black !important;
  background-color: #8ac4ff85 !important;
  outline: 1px solid var(--bs-blue) !important;
  border-radius: 5px !important;
}

.p-listbox-item:hover {
  background-color: #8ac4ff31 !important;
}

.p-listbox {
  border: solid 1px #8ac4ffdc;
  border-radius: 5px;
  background-color: transparent;
  padding: 0.1rem !important;
}

.p-listbox-item:focus {
  box-shadow: none;
}

.p-listbox-list {
  border: none;
  background-color: transparent;
  padding: 0.1rem !important;
}

.p-tabview-nav-link {
  padding: 1rem !important;
  align-self: center;
}

.tab-content {
  display: block !important;
  height: 60%;
  flex-grow: 10 !important;
  flex-direction: column !important;
}

.p-scrollpanel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.p-datatable {
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
  height: 100%;
}

.mergeToolMultiSelect .padding8px > .p-dropdown-label {
  padding: 8px;
}

.mergeToolMultiSelect .padding8px .p-multiselect-label-container {
  padding: 8px;
}

/* MULTISELECT GLOBAL */
.p-multiselect-label {
  display: flex;
  align-items: center;
  align-content: center;
}

.mergeToolMultiSelect .p-dropdown-item {
  padding: 0.25rem 0.5rem;
}

.mergeToolMultiSelect .p-dropdown-items {
  padding: 0.25rem 0.5rem;
}

.mergeToolMultiSelect .p-dropdown-header {
  padding: 0rem;
}

.mergeToolMultiSelect .p-dropdown-filter-container {
  padding: 0.5rem 0.5rem;
}

.mergeToolMultiSelect .p-dropdown-filter {
  padding: 0.25rem 0.25rem;
}

.mergeToolMultiSelect .p-multiselect-item {
  padding: 0rem 0rem;
}

.mergeToolMultiSelect .p-multiselect-items {
  padding: 0.25rem 0.1rem;
}

.mergeToolMultiSelect .p-multiselect-header {
  padding: 0rem 0.5rem 0rem 0rem;
  padding-left: 0.5rem;
}

.mergeToolMultiSelect .p-multiselect-filter-container {
  padding: 0.5rem 0.5rem;
  margin-left: 0rem;
}

.mergeToolMultiSelect .p-multiselect-filter {
  padding: 0.25rem 0.25rem;
}

.mergeToolMultiSelect .p-multiselect-token {
  padding: 0.15rem 0.25rem !important;
}

.mergeToolMultiSelect .p-multiselect-token-icon {
  margin-left: 0.15rem !important;
}

.mergeToolMultiSelect .p-multiselect-token-label {
  /*  margin-left: 0.15rem; */

  font-size: smaller;
}

.mergeToolMultiSelect .p-multiselect-label-container {
  /* min-height: 2.5rem;
  max-height: 2.5rem;
  align-items: center; */
  align-content: center;
  /* padding: 8px; */
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.mergeToolMultiSelect .p-multiselect-label {
  padding: 0.375rem 0.75rem;
  /* height:; */
  /* align-self: center; */
}

.mergeToolMultiSelect .p-placeholder {
  padding: 0.375rem 0.75rem;
  /* height:; */
  /* align-self: center; */
}

.mergeToolMultiSelect .p-multiselect {
  height: 2.5rem;
}

.mergeToolMultiSelect .divider {
  margin: 0.5rem 0rem;
}

.mergeToolMultiSelect .p-component {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mergeToolMultiSelect h6 {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-align: end !important;
}

.mergeToolMultiSelect .p-dropdown {
  width: 100%;
}

.mergeToolMultiSelect .p-float-label > label {
  width: 100%;
  /* top: -0.25rem !important; */
}

.mergeToolMultiSelect .p-float-label input:focus ~ label,
.p-float-label input:-webkit-autofill ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label,
.p-float-label .p-tooltip-target-wrapper ~ label {
  top: -0.45rem;
  font-size: 16px;
}

.mergeToolMultiSelect .p-input-group.dataset-name .p-inputtext {
  padding: 0.5rem !important;
  border-radius: 6px 0px 0px 6px !important;
}

.mergeToolMultiSelect .p-input-group.dataset-name .p-dropdown-label {
  padding: 0rem !important;
}

.mergeToolMultiSelect .p-input-group.dataset-name .p-inputgroup-addon {
  padding: 0rem !important;
}

.mergeToolMultiSelect .p-input-group.dataset-name .p-dropdown-label {
  padding: 0rem !important;
}

.mergeToolMultiSelect .p-input-group.dataset-name .p-dropdown {
  height: 100% !important;
  align-items: center !important;
  align-content: center !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.dataset-name .p-dropdown-item {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  margin: 0.1rem !important;
}
.dataset-name .p-dropdown-items {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

.dataset-name .p-dropdown-trigger {
  width: 1.5rem;
}

.progressBar-merge {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.progressBar-merge .progress {
  width: 100%;

  align-items: center;
  align-content: center;
  justify-content: center;
}

.progressBar-merge label {
  cursor: progress;
  background-color: #00000040;
  color: #5050509c;
  padding: 0rem 0.25rem 0rem 0.25rem;
  font-weight: 700;
  border-radius: 0.4rem 0.4rem 0rem 0rem;
}
