.card-accordion {
  border-radius: 0.5rem;
  background-color: transparent;
  border: none !important;
}

.card-accordion .accordion-item {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #424242da !important;
  background-color: #f7f7f7bb;
  box-shadow: none;
}

.card-accordion .accordion-body {
  color: #161616;
}
.card-accordion .accordion-button[aria-expanded="true"] {
  background-color: #d3d3d3 !important;
  color: #161616;
}

.card-accordion .accordion-button[aria-expanded="false"] {
  background-color: #f7f7f7bb !important;
  color: #161616;
}

.card-accordion .accordion-header .accordion-button {
  box-shadow:
    2px 2px 3px -1px rgb(0 0 0 / 20%),
    0 1px 1px 0 rgb(0 0 0 / 14%),
    0px 0px 3px 2px rgb(0 0 0 / 12%) !important;
  margin-bottom: 1px;
  border-radius: 0.5rem;
  border: none;
  padding-left: 2rem;
  padding: 1rem 2rem;
  font-size: large;
  font-weight: bold;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.card-accordion .accordion-header .accordion-button::before {
  left: 0.5rem;
  align-self: center;
  content: #161616 !important;
}

.card-accordion .accordion-button:not(.collapsed)::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='gray'%3e%3cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.card-accordion .accordion-button::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='gray'%3e%3cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.card-accordion .accordion-body {
  padding-top: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--bs-secondary-bg-subtle);
}

.card-accordion .accordion-body .p-listbox {
  background-color: #cfcfcfcf !important;
}

.holdout-set label {
  margin-left: 0.5rem;
  font-size: medium;
  font-weight: 600;
}

.holdout-set label[aria-disabled="true"] {
  color: #16161681;
}

.holdout-set h6[aria-disabled="true"] {
  color: #16161681;
}
