.btn-play-pause {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 0.25rem;
  height: 0.75rem;
}

.outputPage .module-page-subdiv > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.outputPage .module-page-subdiv > div > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 0.5rem;
  flex-wrap: wrap;
  border-bottom: 0.15rem solid #0044ff34;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 10%);
  z-index: 2;
}

.outputPage .module-page-subdiv > div > .eval-body {
  overflow: auto;
  flex-grow: 1;
  z-index: 1;
}

.outputPage .p-card {
  margin: 0.5rem;
  box-shadow:
    4px 4px 5px -1px rgb(0 0 0 / 30%),
    -1px 1px 1px 0 rgb(0 0 0 / 7%),
    0px -1px 3px 2px rgb(0 0 0 / 12%);
}

.outputPage .p-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outputPage .p-card-body {
  padding: 0.8rem;
}

.outputPage .p-card-content {
  padding: 0.2rem 0;
}

.web-server-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn-close-output-card {
  height: 2rem;
  width: 2rem;
  border-radius: 30%;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
.btn-close-output-card:hover {
  background-color: #ff00001f;
  box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 30%);
}

svg.btn-close-output-card:active {
  box-shadow: inset 2px 2px 4px 1px rgb(0 0 0 / 30%);
}
