:root {
  --rct-color-tree-bg: rgb(53, 53, 53);
  --rct-color-tree-focus-outline: #222222;
  --rct-color-focustree-item-selected-bg: #6e6e6e88;
  --rct-color-focustree-item-hover-bg: #61616188;
  --rtc-color-focustree-item-active-bg: #1d3666;
  --rct-color-focustree-item-focused-border: #292929;
  --rct-color-focustree-item-draggingover-bg: #2b2b2b;
  --rct-color-focustree-item-draggingover-color: inherit;
  --rct-color-search-highlight-bg: #b2b41c81;
  --rct-color-drag-between-line-bg: #cf03d6;
  --rct-color-arrow: #c2c2c2;
  --rct-item-height: 1.5rem;
  --rct-arrow-size: 0.75rem;
  --rct-arrow-container-size: 1rem;
  --rct-arrow-padding: 0.1rem;

  --rct-search-width: 10rem;
  --rct-search-height: 1.25rem;
  --rct-search-padding: 8px;
  --rct-search-border: #b4b7bd;
  --rct-search-border-bottom: #0366d6;
  --rct-search-bg: #f8f9fa;
  --rct-search-text: #000000;
  --rct-search-text-offset: calc(var(--rct-search-padding) * 2 - 1rem);
}

.rct-tree-item-button:focus-visible {
  outline: none;
  background: #05629780;
}

.rtc-tree-search-container {
}
