.Container {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 98%;
  position: absolute;
  overflow: auto;
}
.Panel {
  height: 100%;
  display: flex;
  min-width: 5vh;
  min-height: 25vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.281);
  border: 1px solid #555;
  box-sizing: border-box;
}
